.review-div {
  width: 80%;
  height: fit-content;
  min-height: 800px;
}
.review-div .review-box {
  width: 100%;
  height: 100%;
}
.review-div .review-box .review-item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.review-div .review-box .review-item-box .review-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.review-div .review-box .review-item-box .review-item .vector {
  width: 10%;
  height: 5%;
}
.review-div .review-box .review-item-box .review-item img {
  width: 70%;
  height: 90%;
}

.review-div .review-box .review-item-box .review-item .review-before-after {
  position: relative;
  width: fit-content;
}
.review-div
  .review-box
  .review-item-box
  .review-item
  .review-before-after
  .center-pic {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-bottom: 3%;
  bottom: 0;
  text-align: center;
  width: 160px;
  height: 160px;
  border-radius: 100%;
}
